<div class="pantalla card" style="padding: 2%;">

    <div class="ui grid">

        <div class="sixteen wide column ui grid">

            <div class="sixteen wide column" style="text-align: center; ">

                <h2><i class="large money bill alternate outline icon green"></i> Nueva venta </h2>

            </div>

            <div class="ten wide column">

                <div class="ui input labeled right icon" style="margin-right: 20px;">
                    <a class="ui label">
                        Cliente:
                    </a>
                    <i class="user icon"></i>
                    <input type="text" name="nombre" placeholder="Nombre" [(ngModel)]="base.unaVenta.clientenombre">
                </div>

                <div class="ui input labeled right icon">
                    <a class="ui label">
                        Fecha:
                    </a>
                    <i class="calendar alternate outline icon"></i>
                    <input type="date" name="fecha" [ngModel]="base.unaVenta.fecha | date:'yyyy-MM-dd'"
                        [(ngModel)]="base.unaVenta.fecha">
                </div>

            </div>

            <div class="six wide column" style="text-align: right;">

                <div class="ui button green" (click)="abrirLista()">
                    <i class="icon plus"></i> Agregar items
                </div>

            </div>

            <div class="sixteen wide column">
                <app-form-item></app-form-item>
            </div>

            <div class="sixteen wide column" style="text-align: right;">

                <div style="text-align: right;">

                    <div class="field ">
                        <div class="ui input labeled right icon">
                            <a class="ui label">
                                Total:
                            </a>
                            <i class="dollar sign icon green"></i>
                            <input readonly type="text" name="nombre" value="{{base.unaVenta.total | currency }}">
                        </div>
                    </div>

                </div>

            </div>

            <div class="sixteen wide column">

                <div style="text-align: center;">

                    <div class="ui floated button secondary" style="margin-right: 20px;" (click)="cancelar()">
                        <i class="close icon"></i> Cancelar
                    </div>

                    <div class="ui floated button primary" (click)="guardar(base.unaVenta)">
                        <div><i class="save icon"></i> Guardar </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<app-form-cantidad></app-form-cantidad>

<div class="ui modal" id="listaProducto">

    <app-lista-producto></app-lista-producto>

</div>