<div class="sixteen wide column">

    <h2><i class="list alternate outline icon"></i> Items </h2>

  </div>
<table class="ui blue table ">
    <thead>
        <tr>
            <th> <i class="barcode icon blue"></i> Codigo</th>
            <th> <i class="tag icon"></i> Nombre</th>
            <th> <i class="th icon red"></i> Cantidad</th>
            <th> <i class="dollar sign icon green"></i> Precio</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>12154200000000015</td>
            <td>P0000000000os</td>
            <td>000000000000000000</td>
            <td>800000000000000</td>
        </tr>
    </tbody>
</table>