<div class="sixteen wide column" style="text-align: center;">

    <h2><i class="large cart plus icon green"></i> Nueva venta </h2>

  </div>
<table class="ui blue table ">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>12154200000000015</td>
            <td>P0000000000os</td>
            <td>000000000000000000</td>
            <td>800000000000000</td>
        </tr>
        <tr>
            <td>12154000000215</td>
            <td>Pl00000000os</td>
            <td>000000000000000</td>
            <td>0000000000000800</td>
        </tr>
        <tr>
            <td>1200000154215</td>
            <td>Plat0000000000os</td>
            <td>000000000000</td>
            <td>8000000000000000</td>
        </tr>
        <tr>
            <td>12154215</td>
            <td>Platos</td>
            <td>0000000</td>
            <td>800</td>
        </tr>
        <tr>
            <td>12154215</td>
            <td>Platos</td>
            <td>0000000</td>
            <td>800</td>
        </tr>


    </tbody>
</table>