<div class="ui tiny modal" id="formBorrarVenta">
    <div class="header">
        <i class="trash alternate outline icon"></i> Borrar Venta
    </div>
    <div class="content">
        <div class="description">
            <div class="ui header">¿Seguro desea eliminar la venta {{venta.unaVenta.id}}?</div>
        </div>
    </div>
    <div class="actions">
        <div class="ui button red" (click)="cancelar()">
            <i class="close icon"></i> Cancelar
        </div>
        <div class="ui button right icon green" (click)="borrar()">
            <i class="checkmark icon"></i> Confirmar
        </div>
    </div>
</div>