<div class="ui modal" id="formConfirmar">
    <div class="header">
      <i class="trash alternate outline icon"></i> Borrar Producto
    </div>
    <div class="image content">
      <div class="ui medium image">
        <img [src]="base.unProducto.foto" onerror="this.src ='assets/images/producto.png'">
      </div>
      <div class="description">
        <div class="ui header">¿Seguro desea eliminar este producto?</div>
      </div>
    </div>
    <div class="actions">
      <div class="ui negative deny button">
        <i class="reply icon"></i> No 
      </div>
      <div class="ui positive right icon button" (click)="borrar()">
        <i class="checkmark icon"></i> Si 
      </div>
    </div>
  </div>