<div class="pantalla card" style="padding: 2%;">
    <div class="ui grid">
        <div class="sixteen wide column" style="margin: 1%;">
            <div class="ui grid">
                <div class="two wide column">
                    <h2><i class="large list icon"></i> Ventas </h2>
                </div>
                <div class="twelve wide column">
                    <div style="text-align: center;">
                        <div class="ui labeled icon input" style="margin-right: 1rem;">
                            <a style="padding-top: 14px;" class="ui label">Desde</a>
                            <input (input)="buscarVentas()" type="date" [(ngModel)]="venta.desde">
                            <i class="calendar alternate outline icon"></i>
                        </div>
                        <div class="ui labeled icon input" style="margin-right: 2rem;">
                            <a style="padding-top: 14px;" class="ui label">Hasta</a>
                            <input (input)="buscarVentas()" type="date" [(ngModel)]="venta.hasta">
                            <i class="calendar alternate outline icon"></i>
                        </div>
                        <div *ngIf="venta.listadoVenta.length > 0 || venta.filtro.length > 0" class="ui labeled input"
                            style="margin-right: 2rem;">
                            <div style="padding-top: 12px;" class="ui label icon">
                                <i class="filter icon"></i> Filtrar
                            </div>
                            <input type="text" placeholder="Contenido" [(ngModel)]="venta.filtro">
                        </div>
                        <button (click)="imprimir();" class="ui button icon {{base.unaSkin.botonImprimir}}"> <i
                                class="print icon"></i>
                            Imprimir </button>
                    </div>
                </div>
                <div class="two wide column">
                    <button (click)="abrirModalEstadisticas();" class="ui {{base.unaSkin.botonEstadistica}} button">
                        <i class="chart bar icon"></i>
                        Estadísticas
                    </button>
                </div>
            </div>
        </div>
        <div class="sixteen wide column">
            <table class="ui unstackable selectable table {{base.unaSkin.tabla}}" style="text-align: center;">
                <thead>
                    <tr>
                        <th> <i class="hashtag blue icon"></i> Numero </th>
                        <th> <i class="user icon"></i> Cliente</th>
                        <th> <i class="calendar alternate outline icon"></i> Fecha</th>
                        <th> <i class="list alternate outline icon"></i> Items</th>
                        <th> <i class="dollar sign green icon"></i> Total</th>
                        <th> <i class="trash alternate outline red icon"></i> Eliminar </th>
                    </tr>
                </thead>
                <tbody class="tabla-ventas">
                    <tr *ngFor="let unaVenta of venta.listadoVenta | buscar:venta.filtro">
                        <td>{{unaVenta.id}}</td>
                        <td *ngIf="unaVenta.cliente_nombre != null">{{unaVenta.cliente_nombre}}</td>
                        <td *ngIf="unaVenta.cliente_nombre == null">No informado</td>
                        <td>{{unaVenta.fecha | date: 'dd/MM/yyyy'}}</td>
                        <td (click)="buscarItems(unaVenta)"><i class="list alternate outline icon"></i></td>
                        <td>{{unaVenta.total | currency }}</td>
                        <td (click)="eliminarVenta(unaVenta)"><i class="trash icon red"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>