<div class="ui tabular menu orange blue inverted">

    <div class="item" routerLink="/inicio" (click)="abrirMenu() ">
        <h3> <i class="large bars icon "> </i></h3>
    </div>

    <div class="right item">

        <div class="ui button red" (click)="salir()">
            <i class=" power of icon"></i> Salir
        </div>

    </div>

</div>

<div class="ui left demo vertical inverted sidebar labeled icon menu">

        <a class="item" routerLink="/producto">
            <i class="teal archive icon"></i>
            <b>Productos</b>
        </a>
        <a class="item" routerLink="/venta">
            <i class="big green money bill alternate outline icon"></i>
            <b>Ventas</b>
        </a>
        <a class="item" routerLink="/configuracion">
            <i class="grey big cog icon"></i>
            <b>Configuración</b>
        </a>

</div>