<div class="ui menu">
    <div class="item" routerLink="/inicio">
        <h3> <i class="big desktop icon "> </i> <b>Casanely</b> </h3>
    </div>

    <div class="centro">

        <div class="item" routerLink="/producto">

            <i class="big teal archive icon"></i>
            <b>Productos</b>
    
        </div>

        <div class="item" routerLink="/venta">
    
            <i class="big green money bill alternate outline icon"></i>
            <b>Ventas</b>
    
        </div>

        <div class="item" routerLink="/configuracion">
    
            <i class="big cog icon"></i>
            <b>Configuración</b>
    
        </div>
    
    </div>

    <div class="right item">
    
        <i class="big red power of icon"></i>
        <b>Salir</b>

    </div>

</div>
