<div style="text-align: center;">
    <h2 *ngIf="!producto.editar"><i class="big product hunt icon"></i> Nuevo producto </h2>
    <h2 *ngIf="producto.editar"><i class="big product hunt icon"></i> Editar producto </h2>
</div>
<form class="ui form" style="margin-top: 2%;">
    <div class="ui grid">
        <div class="eleven wide column">
            <div class="field">
                <div class="ui input labeled left icon">
                    <i class="barcode icon"></i>
                    <input *ngIf="!producto.editar" type="text" name="codigo" placeholder="Codigo"
                        [(ngModel)]="producto.unProducto.codigo">
                    <input readonly *ngIf="producto.editar" type="text" name="codigo" placeholder="Codigo"
                        [(ngModel)]="producto.unProducto.codigo">
                    <a class="ui tag label">
                        Codigo (*)
                    </a>
                </div>
            </div>
            <div class="field">
                <div class="ui input labeled left icon">
                    <i class="tag icon"></i>
                    <input type="text" name="nombre" placeholder="Nombre" [(ngModel)]="producto.unProducto.nombre">
                    <a class="ui tag label">
                        Nombre (*)
                    </a>
                </div>
            </div>
            <div class="field">
                <div class="ui input labeled left icon">
                    <i class="dollar green sign icon"></i>
                    <input type="text" name="precio_costo" placeholder="Precio Costo"
                        (input)="autocompletarPrecioVenta()" [(ngModel)]="producto.unProducto.precio_costo">
                    <a class="ui tag label">
                        Precio Costo (*)
                    </a>
                </div>
            </div>
            <div class="field">
                <div class="ui input labeled left icon">
                    <i class="money bill alternate outline green icon"></i>
                    <input type="text" name="precio_venta" placeholder="Precio Venta"
                        [(ngModel)]="producto.unProducto.precio_venta">
                    <a class="ui tag label">
                        Precio Venta (*)
                    </a>
                </div>
            </div>
            <div class="field">
                <div class="ui input labeled left icon">
                    <i class="th red icon"></i>
                    <input type="text" name="cantidad" placeholder="Cantidad"
                        [(ngModel)]="producto.unProducto.cantidad">
                    <a class="ui tag label">
                        Cantidad (*)
                    </a>
                </div>
            </div>
            <div class="field">
                <div class="ui input labeled left icon">
                    <select id="idcategoria" class="ui active dropdown fluid " name="idcategoria"
                        [(ngModel)]="producto.unProducto.idcategoria">
                        <option [ngValue]="null"><i class="tags grey icon"></i> Categoria</option>
                        <option [ngValue]="unaCategoria.id" *ngFor="let unaCategoria of categoria.listadoCategoria"><i
                                class="tags grey icon"></i>
                            {{unaCategoria.nombre}}
                        </option>
                    </select>
                    <a class="ui tag label">
                        Categoria
                    </a>
                </div>
            </div>
        </div>
        <div class="five wide column">
            <div class="ui special cards" style="width: 100%; height: 100%;">
                <div class="card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div>
                                        <label class="ui icon button" (click)="borrarFoto()">
                                            <i class="close icon"></i></label>
                                        <label for="foto" class="ui icon button">
                                            <i class="photo icon"></i>
                                            Cargar foto</label>
                                        <input type="file" id="foto" name="foto" accept="image/*" style="display:none"
                                            (change)="cargarFoto($event)">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img [src]="producto.unProducto.foto" onerror="this.src ='assets/images/producto.png'">
                    </div>
                </div>
            </div>
        </div>
        <div class="sixteen wide column">
            <div class="field">
                <label>Descripción</label>
                <textarea style="resize: none;" rows="4" type="text" name="descripcion" placeholder="Descripción"
                    [(ngModel)]="producto.unProducto.descripcion"></textarea>
            </div>
        </div>
        <div class="sixteen wide column">
            <div class="actions">
                <div [hidden]="producto.editar">
                    <div class="ui right floated button green" style="margin-right: 10px;" (click)="guardar()">
                        <div><i class="save icon"></i> Guardar </div>
                    </div>
                </div>
                <div [hidden]="!producto.editar">
                    <div class="ui right floated button secondary" style="margin-right: 10px;" (click)="guardar()">
                        <i class="edit icon"></i> Editar
                    </div>
                </div>
                <div class="ui right floated button red" style="margin-right: 20px;" (click)="cancelar()">
                    <i class="close icon"></i> Cancelar
                </div>
            </div>
        </div>
    </div>
</form>