<div style="text-align: center;">
    <h2><i class="big product hunt icon"></i> Nuevo producto </h2>
</div>

<form class="ui form" style="margin-top: 20px;">

    <div class="field">
        <div class="ui input right labeled left icon">
            <i class="barcode black icon"></i>
            <input type="text" name="codigo" placeholder="Codigo" [(ngModel)]="unProducto.codigo">
            <a class="ui tag label">
                Codigo
            </a>
        </div>
    </div>

    <div class="field">
        <div class="ui right labeled left icon input">
            <i class="dollar green sign icon"></i>
            <input type="text" name="precio" placeholder="Precio" [(ngModel)]="unProducto.precio">
            <a class="ui tag label">
                Precio
            </a>
        </div>
    </div>

    <div class="field">
        <div class="ui right labeled left icon input">
            <i class="th red icon"></i>
            <input type="text" name="cantidad" placeholder="Cantidad" [(ngModel)]="unProducto.cantidad">
            <a class="ui tag label">
                Cantidad
            </a>
        </div>
    </div>

    <div class="field">
        <label>Descripción</label>
        <textarea style="resize: none;" rows="4" type="text" name="descripcion" placeholder="Descripción"
            [(ngModel)]="unProducto.descripcion"></textarea>
    </div>

    <div class="actions">

        <div class="ui right floated button positive" style="margin-right: 10px;" (click)="guardar()">
            <i class="save icon"></i> Guardar
        </div>
        <div class="ui right floated button negative " style="margin-right: 20px;">
            <i class="reply icon"></i> Cancelar
        </div>
  
      </div>

</form>