<div class="pantalla card" style="padding: 2%;">
  <div class="ui grid">
    <div class="four wide column">
      <h2><i class="large list icon"></i> Productos </h2>
    </div>
    <div class="twelve wide column">
      <div style="text-align: right;">
        <div class="inline field">
          <div *ngIf="producto.enVenta" class="ui button inverted" style="margin-left: 30px;">
            <div class="ui toggle checkbox">
              <input type="checkbox" name="scanner" [(ngModel)]="producto.scanner" (change)="cambiarScanner();">
              <label>Scanner</label>
            </div>
          </div>
          <select class="ui dropdown search" name="idBuscar" [(ngModel)]="producto.idFiltrar" id="filtrar"
            (change)="filtrar()">
            <option value="-1"><i class="filter grey icon"></i> Filtro</option>
            <option [ngValue]="null"><i class="tag icon"></i> Sin categoria</option>
            <option [ngValue]="unaCategoria.id" *ngFor="let unaCategoria of categoria.listadoCategoria"><i
                class="tag icon"></i>
              {{unaCategoria.nombre}}
            </option>
          </select>
          <div *ngIf="!producto.enVenta" style="margin-left: 30px;" class="ui button icon {{base.unaSkin.botonAgregar}}"
            (click)="abrirModal()">
            <i class="ui icon plus"></i> Nuevo producto
          </div>
          <div *ngIf="producto.enVenta" class="ui button {{base.unaSkin.botonSalir}}" style="margin-left: 30px;"
            (click)="salir()">
            <i class="icon close"></i> Salir
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui fluid action input left icon" style="margin-top: 20px;">
    <input type="text" placeholder="Buscar..." (input)="buscar()" (keyup.enter)="buscar()" (keyup.escape)="salir()"
      name="busqueda" [(ngModel)]="producto.busqueda" id="buscarProducto" autofocus>
    <div class="ui search ico button" (click)="buscar()">Buscar</div>
    <i class="search icon"></i>
  </div>
  <div class="ui divided items lista-producto">
    <div class="item" *ngFor="let unProducto of producto.listadoProducto">
      <div class="image">
        <img [src]="unProducto.foto" onerror="this.src ='assets/images/producto.png'">
      </div>
      <div class="content">
        <a style="margin-top: 5px;" class="header"><i class="barcode icon blue"></i>{{unProducto.codigo}}</a>
        <div class="description">
          <p><i class="tag icon"></i> <b>Nombre: </b> {{unProducto.nombre}} </p>
          <p><i class="green dollar sign icon"></i> <b>Precio costo: </b> {{unProducto.precio_costo | currency}} </p>
          <div *ngIf="!producto.enVenta" class="ui right floated button {{base.unaSkin.botonEliminar}}"
            style="margin-right: 30px;" (click)="borrar(unProducto)">
            <i class="trash alternate outline icon"></i> Borrar
          </div>
          <div class="ui right floated button {{base.unaSkin.botonEditar}}"
            style="margin-right: 10px;" (click)="editar(unProducto); abrirModal();">
            <i class="edit icon"></i> Editar
          </div>
          <div *ngIf="producto.enVenta" class="ui right floated button {{base.unaSkin.botonVender}}"
            style="margin-right: 30px;" (click)="vender(unProducto)">
            <i class="shopping cart icon"></i> Vender
          </div>
          <p><i class="green money bill alternate outline icon"></i> <b>Precio venta: </b>
            {{unProducto.precio_venta | currency}} </p>
          <p><i class="th orange icon"></i> <b>Cantidad: </b> {{unProducto.cantidad}} </p>
          <p *ngIf="unProducto.descripcion != null"><i class="archive teal icon"></i><b>Descripcion: </b>
            {{unProducto.descripcion}} </p>
        </div>
        <div class="extra">
          <div *ngIf="unProducto.id_categoria != null" class="ui label"><i class="tags icon"></i>
            {{ categoria.listadoNombreCategoria[unProducto.id_categoria] }} </div>
          <div *ngIf="unProducto.id_categoria == null" class="ui label"><i class="tags icon"></i> Sin Categoria </div>
        </div>
      </div>
    </div>
    <div *ngIf="producto.hayResultados" style="padding: 0px;" class="item">
      <button (click)="verMas();" class="fluid ui button icon">Ver más</button>
    </div>
  </div>
</div>