<div class="ui grid">

  <div class="fourteen wide column">

    <h2><i class="large list icon"></i> Productos </h2>

  </div>

  <div class="two wide column">

    <div class="ui animated button primary right floated" tabindex="0" (click) = "abrirModal()">
      <div class="visible content">Agregar producto</div>
      <div class="hidden content">
        <i class="white plus icon"></i>
      </div>
    </div>

  </div>

</div>
<div class="ui fluid action input left icon" style="margin-top: 30px;" >
    <input type="text" placeholder="Codigo">
    <div class="ui search ico button">Buscar</div>
    <i class="search icon"></i>
</div>

<div class="ui divided items lista">

  <div class="item" *ngFor = "let unProducto of base.listadoProducto">
    <div class="content">
      <a class="header"><i class="barcode icon"></i> <b>Codigo: </b> {{unProducto.codigo}}</a>
      <div class="meta">
        <span class="cinema"><i class="green dollar sign icon"></i> <b>Precio: {{unProducto.precio}}</b></span>
      </div>
      <div class="ui right floated button inverted red" style="margin-right: 30px;" (click) = "borrar(unProducto)">
        <i class="trash alternate outline icon"></i> Borrar
      </div>
      <div class="ui right floated button  inverted secondary " style="margin-right: 10px;">
        <i class="edit icon"></i> Editar
      </div>
      <div class="meta">
        <span class="cinema"><i class="th orange icon"></i> <b>Cantidad: {{unProducto.cantidad}}</b></span>
      </div>
      <div class="description">
        <p><i class="archive teal icon"></i> {{unProducto.descripcion}}</p>
      </div>
    </div>
  </div>
  
</div>

<div class="ui modal">
  <app-form-producto style="padding: 2%;" class="card"></app-form-producto>
</div>
    
 
   



