<div class="ui grid">

  <div class="ten wide column">

    <h2><i class="large list icon"></i> Productos </h2>

  </div>


  <div *ngIf="!base.enVenta" class="four wide column" style="text-align: right;">

    <select class="ui dropdown" name="idBuscar" [(ngModel)]="base.idFiltrar" id="filtrar" (change)="filtrar()">
      <option value="-1"><i class="filter grey icon"></i> Filtro</option>
      <option [ngValue]="null"><i class="tag icon"></i> Sin categoria</option>
      <option [ngValue]="unaCategoria.id" *ngFor="let unaCategoria of base.listadoCategoria"><i class="tag icon"></i>
        {{unaCategoria.nombre}}
      </option>
    </select>


  </div>

  <div class="two wide column">

    <div *ngIf="!base.enVenta" class="ui button primary right floated" (click)="abrirModal()">
      Agregar producto
    </div>

  </div>

</div>
<div class="ui fluid action input left icon" style="margin-top: 30px;">
  <input type="text" placeholder="Buscar..." (input)="buscar()" name="busqueda" [(ngModel)]="busqueda">
  <div class="ui search ico button" (click)="buscar()">Buscar</div>
  <i class="search icon"></i>
</div>

<div class="ui divided items lista-producto">

  <div class="item" *ngFor="let unProducto of base.listadoProducto">
    <div class="image">
      <img [src]="unProducto.foto" onerror="this.src ='assets/images/producto.png'">
    </div>
    <div class="content">
      <a class="header"><i class="barcode icon"></i>{{unProducto.codigo}}</a>
      <div class="description">
        <p><i class="tag icon"></i> <b>Nombre: </b> {{unProducto.nombre}} </p>
        <p><i class="green dollar sign icon"></i> <b>Precio: </b> {{unProducto.precio}} </p>
        <div *ngIf="!base.enVenta" class="ui right floated button inverted red" style="margin-right: 30px;"
          (click)="borrar(unProducto)">
          <i class="trash alternate outline icon"></i> Borrar
        </div>
        <div *ngIf="!base.enVenta" class="ui right floated button inverted secondary " style="margin-right: 10px;"
          (click)="editar(unProducto); abrirModal();">
          <i class="edit icon"></i> Editar
        </div>
        <div class="ui right floated button inverted green " style="margin-right: 10px;">
          <i class="shopping cart icon"></i> Vender
        </div>
        <p><i class="th orange icon"></i> <b>Cantidad: </b> {{unProducto.cantidad}} </p>
        <p><i class="archive teal icon"></i><b>Descripcion: </b> {{unProducto.descripcion}} </p>
      </div>
      <div class="extra">
        <div *ngIf="unProducto.idcategoria" class="ui label"><i class="tags icon"></i>
          {{ base.listadoNombreCategoria[unProducto.idcategoria] }} </div>
        <div *ngIf="!unProducto.idcategoria" class="ui label"><i class="tags icon"></i> Sin Categoria </div>
      </div>
    </div>
  </div>


</div>

<div id="formProducto" class="ui modal">
  <app-form-producto style="padding: 2%;" class="card"></app-form-producto>
</div>

<app-form-borrar-producto></app-form-borrar-producto>