<div class="ui modal" id="ventanaItems">
    <div class="header">
        Items de la Venta
    </div>
    <div id="tablaItems" class="content">
        <table class="ui unstackable selectable table {{base.unaSkin.tabla}}" style="text-align: center;">
            <thead>
                <tr>
                    <th> <i class="hashtag blue icon"></i> Codigo </th>
                    <th> <i class="tag icon"></i> Nombre</th>
                    <th> <i class="th red icon"></i> Cantidad</th>
                    <th> <i class="dollar sign green icon"></i> Precio</th>
                    <th> <i class="balance scale blue icon"></i> Ganancia </th>
                    <th> <i class="money bill alternate outline green icon"></i> Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let unItem of item.listadoItem">
                    <td>{{unItem.codigo}}</td>
                    <td>{{unItem.nombre}}</td>
                    <td>{{unItem.cantidad}}</td>
                    <td>{{unItem.precio_venta | currency}}</td>
                    <td>{{unItem.ganancia | currency}}</td>
                    <td>{{unItem.total | currency}}</td>
                </tr>
            </tbody>
        </table>
        <table class="ui table" style="text-align: center;margin-left: auto;margin-right: 0px;width: 20rem;">
            <thead>
                <tr>
                    <th><b>Ganancia:</b></th>
                    <th><b>{{item.gananciaItems | currency}}</b></th>
                </tr>
                <tr>
                    <th><b>Total:</b></th>
                    <th><b>{{item.totalItems | currency}}</b></th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="actions">
        <button (click)="imprimir();" class="ui button {{base.unaSkin.botonImprimir}}">
            <i class="print icon"></i> Imprimir
        </button>
        <button class="ui button icon ok {{base.unaSkin.botonAceptar}}">
            <i class="checkmark icon"></i> Aceptar
        </button>
    </div>
</div>