<div id="app">
    <app-sidebar></app-sidebar>
    <div class="pusher">
        <app-nav-bar></app-nav-bar>
        <div class="contenedor">
            <router-outlet></router-outlet>
            <div id="formProducto" class="ui modal">
                <app-form-producto style="padding: 2%;" class="card"></app-form-producto>
            </div>
            <div id="formCategoria" class="ui modal">
                <app-form-categoria style="padding: 2%;" class="card"></app-form-categoria>
            </div>
            <!-- Modales -->
            <div id="avisoBackup" class="ui basic modal">
                <div class="ui icon header">
                    <i class="exclamation triangle icon yellow"></i>
                    <h2>Se recomienda hacer un backup antes de usar esta funcion.</h2>
                </div>
            </div>
            <div class="ui modal" id="listaProducto">
                <app-lista-producto></app-lista-producto>
            </div>
            <app-form-cantidad></app-form-cantidad>
            <app-form-borrar-producto></app-form-borrar-producto>
            <app-modificar-precio-producto></app-modificar-precio-producto>
            <app-form-borrar-categoria></app-form-borrar-categoria>
            <app-lista-item></app-lista-item>
            <app-form-borrar-venta></app-form-borrar-venta>
            <!-- Modales -->
        </div>
    </div>
</div>