<div class="sixteen wide column">
    <h2><i class="large list icon"></i> Categorías: </h2>
</div>
<div class="ui divided items lista-categoria">

    <div class="item" *ngFor="let unaCategoria of listadoCategoria">
        <div class="middle aligned content">
            <div class="ui grid">
                <div class="eight wide column">
                    <p> <i class="tag icon"></i> <b>Nombre:</b> {{unaCategoria.nombre}}</p>
                </div>
                <div class="eight wide column">
                    <div class="ui right floated button inverted red" style="margin-right: 30px;">
                        <i class="trash alternate outline icon"></i> Borrar
                    </div>
                    <div class="ui right floated button  inverted secondary " style="margin-right: 10px;">
                        <i class="edit icon"></i> Editar
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>