<div class="ui labeled icon sidebar left vertical menu">

    <a class="item" routerLink="/categoria" (click)="hide()">
        <i class="tags icon"></i>
        <b>Categorias</b>
    </a>
    <a class="item" routerLink="/configuracion" (click)="hide()">
        <i class="grey big cog icon"></i>
        <b>Configuración</b>
    </a>
    <a class="item" routerLink="/producto" (click)="hide()">
        <i class="teal archive icon"></i>
        <b>Productos</b>
    </a>
    <a class="item" routerLink="/venta" (click)="hide()">
        <i class="big green money bill alternate outline icon"></i>
        <b>Ventas</b>
    </a>

</div>
