<div class="ui labeled icon sidebar left vertical menu inverted">
  <div class="container">
    <div class="vertical-center">
      <a class="item" routerLink="/inicio" (click)="hide();ventaOff();">
        <i class="home icon blue"></i>
        <b>Inicio</b>
      </a>
      <a class="item" routerLink="/producto" (click)="hide();ventaOff();">
        <i class="archive icon blue"></i>
        <b>Productos</b>
      </a>
      <a class="item" routerLink="/venta" (click)="hide();ventaOn();">
        <i class="big money bill alternate outline icon blue"></i>
        <b>Ventas</b>
      </a>
      <a class="item" routerLink="/categoria" (click)="hide()">
        <i class="tags icon blue"></i>
        <b>Categorias</b>
      </a>
      <a class="item" routerLink="/configuracion" (click)="hide()">
        <i class="big cog icon blue"></i>
        <b>Configuración</b>
      </a>
    </div>
  </div>
</div>