<div class="ui mini modal" id="editVariable">
    <div class="header">
        <i class="keyboard icon"></i> Variable
    </div>
    <div class="content">
        <div class="description">
            <div class="field" style="text-align: center;">
                <div class="ui input labeled right icon">
                    <i class="database icon"></i>
                    <a style="display: none;" id="valorTag" class="ui label">
                        Valor
                    </a>
                    <input id="valorInput" style="display: none;" type="text" name="valor" placeholder="Valor"
                        [(ngModel)]="base.unaVariable.valor" (keyup.enter)="aceptar()" (keyup.escape)="cancelar()"
                        autofocus>
                    <div style="display: none;" id="comboColores"
                        class="ui floating dropdown labeled icon button fluid">
                        <i class="paint brush icon"></i>
                        <span class="text">Seleccione un color</span>
                        <div class="menu">
                            <div class="scrolling menu">
                                <div data-value="red" class="item">
                                    <div class="ui red empty circular label"></div>
                                    Rojo
                                </div>
                                <div data-value="orange" class="item">
                                    <div class="ui orange empty circular label"></div>
                                    Naranja
                                </div>
                                <div data-value="yellow" class="item">
                                    <div class="ui yellow empty circular label"></div>
                                    Amarillo
                                </div>
                                <div data-value="olive" class="item">
                                    <div class="ui olive empty circular label"></div>
                                    Verde oliva
                                </div>
                                <div data-value="green" class="item">
                                    <div class="ui green empty circular label"></div>
                                    Verde
                                </div>
                                <div data-value="teal" class="item">
                                    <div class="ui teal empty circular label"></div>
                                    Verde azulado
                                </div>
                                <div data-value="blue" class="item">
                                    <div class="ui blue empty circular label"></div>
                                    Azul
                                </div>
                                <div data-value="violet" class="item">
                                    <div class="ui violet empty circular label"></div>
                                    Violeta
                                </div>
                                <div data-value="purple" class="item">
                                    <div class="ui purple empty circular label"></div>
                                    Morado
                                </div>
                                <div data-value="pink" class="item">
                                    <div class="ui pink empty circular label"></div>
                                    Rosa
                                </div>
                                <div data-value="brown" class="item">
                                    <div class="ui brown empty circular label"></div>
                                    Marrón
                                </div>
                                <div data-value="grey" class="item">
                                    <div class="ui grey empty circular label"></div>
                                    Gris
                                </div>
                                <div data-value="black" class="item">
                                    <div class="ui black empty circular label"></div>
                                    Negro
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui button {{base.unaSkin.botonCancelar}}" (click)="cancelar()">
            <i class="close icon"></i> Cancelar
        </div>
        <div class="ui button {{base.unaSkin.botonAceptar}}" (click)="aceptar()">
            <i class="checkmark icon"></i> Aceptar
        </div>
    </div>
</div>