<div class="contenedor-inicio">
    <div class="centro-inicio">
        <img src="assets/images/inicio.jpg">
    </div>
</div>

<div class="inferior">

    <i class="whatsapp icon large green"></i> <a href="https://www.google.com/"><b style="margin-right: 10px;">3436224852</b> </a>
    <i class="instagram icon large pink"></i> <a href=""><b style="margin-right: 10px;">Casanely </b> </a>
    <i class="facebook icon large blue"></i> <a href=""><b style="margin-right: 10px;">Casanely </b> </a>
    <i class="twitter icon large blue"></i> <a href=""><b style="margin-right: 10px;">Casanely </b></a>

    <div class="ui progress green" id="progreso">
        <div class="label"><label id="EstadoDescarga" for="estado">Buscando actualizaciones...</label></div>
        <div class="bar"></div>
    </div>
</div>