<div class="contenedor-inicio">
    <div class="imagen-inicio">
        <img class="img-size" [src]="empresa.unaEmpresa.logo" onerror="this.src ='assets/images/producto.png'">
    </div>
</div>
<div class="inferior">
    <i *ngIf="empresa.unaEmpresa.telefono != ''" class="whatsapp icon large green"></i> <a
        *ngIf="empresa.unaEmpresa.telefono != ''" href="javascript:;"><b
            style="margin-right: 10px;">{{empresa.unaEmpresa.telefono}}</b> </a>
    <i *ngIf="empresa.unaEmpresa.instagram != ''" class="instagram icon large pink"></i> <a
        *ngIf="empresa.unaEmpresa.instagram != ''" href="javascript:;"
        (click)="abrirLink(empresa.unaEmpresa.instagram_link)"><b style="margin-right: 10px;">{{empresa.unaEmpresa.instagram}}
        </b> </a>
    <i *ngIf="empresa.unaEmpresa.facebook != ''" class="facebook icon large blue"></i> <a
        *ngIf="empresa.unaEmpresa.facebook != ''" href="javascript:;" (click)="abrirLink(empresa.unaEmpresa.facebook_link)"><b
            style="margin-right: 10px;">{{empresa.unaEmpresa.facebook}} </b> </a>
    <i *ngIf="empresa.unaEmpresa.twitter != ''" class="twitter icon large blue"></i> <a
        *ngIf="empresa.unaEmpresa.twitter != ''" href="javascript:;" (click)="abrirLink(empresa.unaEmpresa.twitter_link)"><b
            style="margin-right: 10px;">{{empresa.unaEmpresa.twitter}} </b></a>
    <div class="ui progress green" id="progreso" style="display: none;">
        <div class="label"><label id="EstadoDescarga" for="estado">Buscando actualizaciones...</label></div>
        <div class="bar"></div>
    </div>
</div>