<div class="contenedor-inicio">
    <div class="centro-inicio">
        <img src="assets/images/inicio.jpg">
    </div>
</div>
<div class="inferior">
    <i *ngIf="base.unaEmpresa.telefono" class="whatsapp icon large green"></i> <a *ngIf="base.unaEmpresa.telefono"
        href="javascript:;"><b style="margin-right: 10px;">{{base.unaEmpresa.telefono}}</b> </a>
    <i *ngIf="base.unaEmpresa.instagram" class="instagram icon large pink"></i> <a *ngIf="base.unaEmpresa.instagram"
        href="javascript:;"><b style="margin-right: 10px;">{{base.unaEmpresa.instagram}} </b> </a>
    <i *ngIf="base.unaEmpresa.facebook" class="facebook icon large blue"></i> <a *ngIf="base.unaEmpresa.facebook"
        href="javascript:;"><b style="margin-right: 10px;">{{base.unaEmpresa.facebook}} </b> </a>
    <i *ngIf="base.unaEmpresa.twitter" class="twitter icon large blue"></i> <a *ngIf="base.unaEmpresa.twitter"
        href="javascript:;"><b style="margin-right: 10px;">{{base.unaEmpresa.twitter}} </b></a>
    <div class="ui progress green" id="progreso" style="display: none;">
        <div class="label"><label id="EstadoDescarga" for="estado">Buscando actualizaciones...</label></div>
        <div class="bar"></div>
    </div>
</div>