<form class="ui form">
    <div class="inline fields">
        <div class="ui grid" style="width: 100%;">
            <div class="six wide column">
                <h2><i class="large tags icon"></i> Nueva categoría </h2>
            </div>
            <div class="five wide column">
                <div class="field">
                    <div class="ui input right labeled left icon">
                        <i class="tag icon"></i>
                        <input type="text" name="codigo" placeholder="Nombre" [(ngModel)]="categoria.unaCategoria.nombre"
                            id="nombreCategoria">
                        <a class="ui tag label">
                            Nombre
                        </a>
                    </div>
                </div>
            </div>
            <div class="five wide column">
                <div *ngIf="!categoria.editar" class="ui button primary right floated"
                    (click)="guardar()">
                    <i class="plus icon"></i> Agregar
                </div>
                <div *ngIf="categoria.editar" class="ui button secondary right floated"
                    (click)="editar()">
                    <i class="edit icon"></i> Editar
                </div>
            </div>
        </div>
    </div>
</form>