<div id="aboutModal" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        Acerca de...
    </div>
    <div class="image content">
        <div class="ui grid">
            <div class="ten wide column">
                <div class="ui grid">
                    <div class="six wide column" style="text-align: center;">
                        <div class="ui statistic">
                            <img class="ui small circular image" src="../../../../assets/images/strut.png">
                            <div class="label">
                                Strut
                            </div>
                        </div>
                    </div>
                    <div class="ten wide column">
                        <table style="text-align: left;width: 27rem;">
                            <tbody>
                                <tr class="espacio">
                                    <td class="ancho"><b>Versión:</b></td>
                                    <td style="color: gray;">{{version}}</td>
                                </tr>
                                <tr class="espacio">
                                    <td class="ancho"><b>Desarrollador:</b></td>
                                    <td style="color: gray;">NahuelKliphan</td>
                                </tr>
                                <tr class="espacio">
                                    <td class="ancho"><b>Correo:</b></td>
                                    <td style="color: gray;">nahuelklipanvalle@gmail.com</td>
                                </tr>
                                <tr class="espacio">
                                    <td class="ancho"><b>Teléfono:</b></td>
                                    <td style="color: gray;"> <a>+54 9 343 622-4852</a> </td>
                                </tr>
                                <tr class="espacio">
                                    <td class="ancho"><b>Sitio web:</b></td>
                                    <td style="color: gray;"> <a href="https://www.google.com/" target="_blank">www.cnk.com</a> </td>
                                </tr>
                                <tr class="espacio">
                                    <td colspan="2" style="color: gray;"> Copyright <i class="ui icon copyright outline"></i> 2020 NahuelKliphan </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="six wide column" style="text-align: center;padding-top: 3rem;">
                <div class="ui statistic">
                    <div class="label" style="margin-bottom: 1rem;">
                        Powered by
                    </div>
                    <div class="ui tiny images">
                        <img class="ui  image" src="../../../../assets/images/angular.png">
                        <img class="ui  image" src="../../../../assets/images/electron.png">
                        <img class="ui  image" src="../../../../assets/images/postgres.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <button class="ui button icon ok primary">
            <i class="checkmark icon"></i> Aceptar
        </button>
    </div>
</div>