<div class="ui tiny modal" id="formImrpimirVenta">
    <div class="header">
        <i class="print icon"></i> Imprimir Venta
    </div>
    <div class="content">
        <div class="description">
            <div class="ui header">¿Quieres imprimir esta venta?</div>
        </div>
    </div>
    <div class="actions">
        <div class="ui button red" (click)="cancelar()">
            <i class="close icon"></i> No
        </div>
        <div class="ui button right icon green" (click)="imprimir()">
            <i class="checkmark icon"></i> Si
        </div>
    </div>
</div>